{% extends 'main.html' %}
{% load static %}
{% block content %}

<body>

    <div id="settings-box">
        <div style="margin-top:30px; margin-bottom:30px;">Settings</div>
        <div style="margin-bottom:30px;">User Profile:</div>

        <div style="display:flex; flex-direction: row;">
            <div style="margin-right:20px;">
                <div>Username:</div>
                <div>Email</div>
                <div>Password</div>                
            </div>
            <div style="margin-right:20px;">
                <div>abcderf:</div>
                <div>abc@gmail.com</div>
                <div>********</div>
            </div>
            <div style="margin-bottom:400px;">
                <div>Edit</div>
                <div>Edit</div>
                <div>Edit</div>
            </div> 
        </div>
    </div>

</body>

{% endblock %}
